@import 'config';
@import 'menu';
body {
    @include background();
    background: $primary-color;
    color: set-text-color($primary-color); // passing color to function for dynamic text color
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        //same as h1.lg-heading (here nesting is done)
        font-size: 6rem; //rem is font size relative to root element
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5); //rgba is used to see through the h2 which is lightened
    }
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed; //to stay at top even when scrolling
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    //height: 100%;
    //using calc to calculate the length of main tag so that footer doesn't come up if length is short(basically sticking the footer in the bottom). 
    min-height: calc(100vh-60px);
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem; //each icon is wrapped in 'a' tag
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home {
        //anything with id of home in main tag
        overflow: hidden;
        h1 {
            margin-top: 20vh; //vh -viewport hieght 
        }
    }
    // &#about {
    //     // added just to avoid scrolling in the about page 
    //     overflow: hidden;
    //     height: calc(100vh -100px)
    // }
}

//about page
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
        @include easeOut;
        &:hover {
            //zoom in hover effect
            transform: scale(1.03);
        }
    }
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
        @include easeOut;
        &:hover {
            //zoom in hover effect
            transform: scale(1.03);
        }
    }
    .job-1 {
        grid-area: job1;
    }
    .job-2 {
        grid-area: job2;
    }
    .job-3 {
        grid-area: job3;
    }
    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        @include easeOut;
        &:hover {
            // for zoom in effect on hover and included easeOut for smootheness
            transform: scale(1.09);
        }
    }
}

// work/Projects
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
    img {
        width: 100%;
        border: 3px solid #fff;
        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
            // transform: scale(1.03);
        }
    }
}

//contact page 
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    div {
        font-size: 2rem;
        border: 2px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
        &:hover {
            // transform: scale(1.03);
            // background: $secondary-color;
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span {
                //span is already as secondary color so wont be visible on hover
                color: set-text-color($secondary-color);
            }
        }
    }
}

//Button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
        transform: scale(1.03);
        @include easeOut;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
    bottom: 0;
}

@import 'mobile';